
{% extends "base.html" %}
{% block title %}Selecao{% endblock %}
{% block body %}

<!-- select field -->

<!-- <script src="{{ url_for('static', filename='js/bundle.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/select.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/select.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<main class="px-3">
    <div class="content-section">
      <div class="center">
        <h1>Selecione suas disciplinas</h1>
        <br/>

          <div style="max-width: 500px" id="select-multi"></div>
          <br/>
          <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" onclick="handleClick()">Avançar</button>

      </div>
    </div>
</main>

<script>
    const myOptions = {{ dict_cursos|tojson }};

    VirtualSelect.init({
        ele: '#select-multi',
        options: myOptions,
        multiple: true,
        search: true,
        placeholder: 'Selecione suas disciplinas',
        position: 'auto',
        optionHeight: '40px',
        count: 10
    })

    function handleClick() {
        let url = window.location.href + "/";
        let lista = $('#select-multi').val();
        console.log(lista);
        if (lista.length !== 0) {
            window.location.href = url + lista.join('-')
        }
    }
</script>

{% endblock %}

